.h1{
    text-align: center;
    margin-top:20%;
    text-decoration: solid;
    font-size: 48px;
}
.zeroo{
    text-align: center;
    /* margin-top:20%; */
    text-decoration: solid;
    font-size: 48px;
}
.button{
    display: flex;
    justify-content: center;
    
}
.btn{
    align-items: center;
    margin: 1%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(173, 248, 241) ;
    font-size: 15px;
    cursor: pointer;
}
.button :hover{
    background-color: rgb(237, 172, 172);
}
